<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label color="medium" class="ion-text-left"  class = "ion-text-wrap">
      This is the list of your favorite Pokémon! :3
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor = 'let pokemon of favoriteList'>
        <ion-card  [routerLink]="['/pokemon-profile', pokemon.id]" [ngStyle]="{'background-color': getColorByType(pokemon.types[0].type.name)}" style="margin: 1px;">
          <ion-card-content>
            <ion-card-title>{{pokemon.name}}</ion-card-title>
            <ion-card-subtitle>#{{pokemon.id.toString().padStart(3,0)}}</ion-card-subtitle>
            <img src="{{pokemon.sprites.front_default}}" alt="">
            <ion-card-subtitle> 
              <ion-chip *ngFor="let pokemon of pokemon.types" [ngStyle]="{'background-color': getColorByTypeChip(pokemon.type.name)}">
                <ion-label>{{pokemon.type.name}}</ion-label>
              </ion-chip>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
