<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="full" routerLink="/tabs/tab2">Search <img src="/assets/ImgSearch.png" width="100" ></ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button color="warning" expand="full" routerLink="/tabs/tab3">Quiz <img src="/assets/ImgQuiz.png" width="100"></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="warning" expand="full" routerLink="/tabs/tab4">Favorites <img src="/assets/ImgFav.png" width="100"> </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
