<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>card</ion-title>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode = "ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>nada, corre, monta en bicileta</ion-card-subtitle>
      <ion-card-title>Trialtlón</ion-card-title>
    </ion-card-header>
        
    <ion-card-content> Competición deportiva en que los participantes compiten en tres carreras: unaa de natación, una ciclista y una pedestree, de diversa longitud  según las categorias</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="secondary">
      <ion-icon slot="start" name = "pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus nam natus atque quidem. Cumque non aliquam illum doloribus accusamus?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src = "/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat odio expedita veniam ad totam ea fugit temporibus hic incidunt non sequi, dignissimos perferendis. Odio, sequi. Soluta enim porro sequi!
    </ion-card-content>
  </ion-card>

</ion-content>
