<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-searchbar [(ngModel)]="searchTerm">
    </ion-searchbar>
    <ion-button color="medium" fill="clear" size="default"><ion-icon name="funnel-outline"></ion-icon></ion-button>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor = 'let pokemon of search()' [routerLink]="['/pokemon-profile', pokemon.id]">
      <ion-card-content>
        <ion-card-title>{{pokemon.name}}</ion-card-title>
        <ion-card-subtitle>#{{pokemon.id.toString().padStart(3,0)}}</ion-card-subtitle>
        <img src="{{pokemon.sprites.front_default}}" alt="">
        <ion-card-subtitle> 
          <ion-chip *ngFor="let pokemon of pokemon.types">
            <ion-label>{{pokemon.type.name}}</ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>



